<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
  <style>
    .site-header {
      min-height: 56px;
      border-top: 10px solid #6d0303;/*site-header-format;*/
      border-bottom: 4px solid #6d0303;/*site-bottom-format;*/
      position: relative;
    }
  </style>
</head>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
  
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_HTMLorMML-full"></script>

<body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>
